#chat-box {
	height: 300px;
	max-width: 60%;
	overflow: scroll;
}

ul	{
	list-style-type: none;
}

li {
	margin: 2% 0;
}

img {
	height: 30px;
}

img#triangle1, img#triangle2 {
	height: 15px;
	visibility: hidden;
}

img#pacman2 {
	float: right;
}

img#triangle1 {
	margin-top: -45px;
	margin-left: 18px;
}

img#triangle2 {
	float: right;
	margin-top: -13px;
	margin-right: 50px;
}


.person1, .person2 {
	padding: 10px;
	border-radius: 1em;
}

.person1 {
	background: #91BEFF;
	min-width: 60%;
	margin-right: 30%;
}

.person2 {
	background: #C7FFB8;
	min-width: 60%;
	margin-right: 10%;
	margin-left: 20%;
}

textarea {
	border-radius: .5em;
	background: #efefef;
	border: 1px solid #bbb;
}

button {
	margin-left: 15px;
	margin-top: -70px;
}

@media (max-width: 730px) {
	#chat-box {
		max-width: 90%;
	}
}