#chat-box {
	height: 300px;
	max-width: 60%;
	overflow: scroll;
}

ul	{
	list-style-type: none;
}

li {
	margin: 2% 0;
}

.person1, .person2 {
	padding: 10px;
	border-radius: 1em;
}

.person1 {
	background: #91BEFF;
	margin-right: 30%;
}

.person2 {
	background: #C7FFB8;
	margin-right: 10%;
	margin-left: 20%;
}

textarea {
	border-radius: .5em;
	background: #efefef;
	border: 1px solid #bbb;
}

button {
	margin-left: 15px;
	margin-top: -70px;
}

@media (max-width: 730px) {
	#chat-box {
		max-width: 90%;
	}
}